.container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none solid black;
}

.line {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: line-through;
}

.none {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none solid black;
}

.input {
  text-decoration: none solid black;
}

/* .checkbox {
  display: none;
} */

.strikethrough {
  text-decoration: line-through;
}
