.recommendation {
  display: flex;
  height: 250px;
  overflow-x: scroll;
  width: 360px;
}

.card-container {
  width: 180;
}

.container {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
